{
  "comments": true,
  "presets": [
    "env"
  ],
  "plugins": ["istanbul"],
  "env": {
    "test": {
      "comments": true,
      "presets": [
        "env"
      ],
      "plugins": ["istanbul"]
    }
  }
}
